<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
  <style>
    .email-container{
        height: 100%;
        width: 100%;
        background-color: #F5F6F9;
        padding: 20px 0px;
        text-align: center;
	}
    .header{
        
        padding: 20px;
        font-weight: bold;
        font-size: 18px;
        color: #475467;
    }
    .content{
        max-width: 700px;
        padding: 20px;
        background-color: white;
        margin: auto;
        font-size: 14px;
        text-align: left;
        color: #000000;
    }
    .footer{
        font-size: 10px;
        color: #98A2B3;
        padding: 20px;
    }
  </style>
</head>
<body>
    <div class="email-container">
        
        <div class="header">CHEDRO V Application of Programs</div>
        <div class="content">
            <h2>Hello,</h2>
            <p>Using your username and temporary password provided, you may now log in to the <b>CHEDRO V Applications of Programs System</b>.</p>
            <p>Please find your credentials below.</p>
            <p>Username: <b>{{username}}</b>   Password: <b>{{password}}</b></p>
            <p>Don't forget to update your profile and change your password. Have a great day!</p>
            <p>Thanks!</p>
            <p>CHEDRO V</p>
        </div>
        <div class="footer">&copy; 2022 CHED Regional Office V</div>
   
  </div>
</body>
</html>